@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root{
  --dark: #0D0D2B;
  --white: #FFFFFF;
  --white--rgb: 255,255,255;
  --blue: #3671E9;
  --purple: #2B076E;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Rubik', sans-serif;
}
.wrapper{
  max-width: 1202px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.header{
  display: flex;
  margin-top: 60px;
  &__content{
  display: flex;
  justify-content: space-between;
  align-items:center;
  text-decoration: none;
  }
  .nav{
    display: flex;
    align-items: center;
    list-style-type: none;
    letter-spacing: 0.01em;
    &__item{
      margin-left: 32px;
      font-weight: normal;
      .login{
        margin-left: 24px;
        padding-right: 24px;
        border-right: 1px solid rgba(242,242,242,0.3);
        font-weight: 500;
      }
      .register{
        margin-left: -9px;
        background-color: var(--blue);
        border-radius: 32px;
        padding: 17px 32px 17px 32px;
        font-weight: 500;
        transition: 0.2s ease background-color;
      }
      .register:hover{
        color: var(--white);
        background-color: var(--purple);
      }
    }
    //если ссылка выглядет как кнопка делай display block или inline-block
    &__link{
      color: var(--white);
      text-decoration: none;
      font-size: 16px;
      transition: 0.2s ease color;
    }
    &__link:hover{
      color: var(--blue);
    }
  }
}
.main{
  display: flex;
  margin-top: 55px;
  align-content: center;
  &__content{
    display: flex;
    align-content: center;
    width: 100%;
  }
  &__text{
    margin-top: 80px;
    max-width: 588px;
    margin-right: 8px;
    width: 100%;
    .sale{
      background-color: rgba(var(--white--rgb),10%);
      display: inline-block;
      border-radius: 32px;
      padding: 9px 8px 6px 4px;
      letter-spacing: 0.01em;
      span{
        background-color: var(--white);
        border-radius: 32px;
        color: var(--dark);
        padding: 8px 17px 5px 15px;
        margin-right: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
    }
    .title{
      font-weight: 700;
      margin-top: 26px;
      font-size: 64px;
      line-height: 76px;
      margin-bottom: 0;
    }
    .description{
      line-height: 1.6;
      letter-spacing: 0.01em;
      color: #E0E0E0;
      margin-top: 24px ;
      margin-bottom: 50px;
      font-size: 16px;
      line-height: 28px;
      max-width: 435px;
    }
  }
  &__img{
    flex-grow: 1;
    .image{
    width: 100%;
    }
  }
  .link{
    text-decoration: none;
    background-color: var(--blue);
    border-radius: 32px;
    padding: 18px 24px 17px 24px;
    font-weight: 500;
    transition: 0.2s ease background-color;
    color:var(--white);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  .link:hover{
    color: var(--white);
    background-color: var(--purple);
  }
}
.stat{
  display: flex;
  margin-top: 195px;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  // Нужно добавлять margin между блоками
  &__item{
    display: flex;
  }
  &__text{
    align-items: center;
    color: #E0E0E0;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    span{
      color:var(--white);
      display: block;
      font-weight: bold;
      font-size: 40px;
      line-height: 150%;
    }
  }
  &__icon{
    background-color: rgba(var(--white--rgb),10%);
    margin-right: 24px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  //Вставялй в html а не так
  .stat__icon01{
    background-image: url(../img/icon01.svg) ;
  }
  .stat__icon02{
    background-image: url(../img/icon02.svg) ;
  }
  .stat__icon03{
    background-image: url(../img/icon03.svg) ;
  }
}
.check{
  display: flex;
  flex-direction: column;
  margin-top: 193px;
  &__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  &__text{

    text-align: center;
  }
  &__title{
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5;
    color: var(--white);
  }
  &__description{
    font-size: 18px;
    line-height: 150%;
    color: #E0E0E0;
    max-width: 630px;
    width: 100%;
    margin: 25px 0 60px;
    text-align: center;
  }
  .calc-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FBFCFE;
    border-radius: 16px 16px 0 0;
    max-width: 942px;
    width: 100%;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 52px;
    &__input{
      margin-left: 48px;
      font-size: 20px;
      line-height: 150%;
      color: var(--dark);
      border: none;
      border-bottom: 1px solid #E0E0E0;
      padding-bottom: 8px;
      width: 100%;
      margin-top: 11px;
    }
    &__select{
      font-size: 20px;
      border: none;
      border-bottom: 1px solid #E0E0E0;
      margin-left: 54px;
      margin-right: 48px;
      padding-bottom: 8px;
      width: 100%;
      margin-top: 11px;
      appearance: none;
      background-image: url(../img/arrow-select.svg);
      background-repeat: no-repeat;
      background-position: right 4px;
    }
    //cursor: pointer;
    &__button{
      font-size: 18px;
      text-decoration: none;
      background-color: var(--blue);
      border-radius: 32px;
      padding: 16px 0px 16px 0px;
      font-weight: 500;
      transition: 0.2s ease background-color;
      color:var(--white);
      font-weight: 500;
      line-height: 150%;
      border: none;
      margin-right: 48px;
      width: 100%;
      max-width: 146px;
      flex: 0 0 146px;
    }
    &__button:hover{
      background-color: var(--purple);
      border: none;
    }
  }
}
.page-light{
  background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
  color: var(--dark);
  &__content{
    padding: 0 10px;
    .crypto{
      padding-bottom: 100px;

      &__title{
        width: 741px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 150%;
        margin: 100px auto 64px;
        text-align: center;
      }

      &__item-title-btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
        vertical-align: middle;
      }

      &__item-title-active-btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
        vertical-align: middle;
      }

      &__content{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 0 -10px;
      }

      &__item-active{
        width: 370px;
        height: 433px;
        margin: 0 10px;
        background: #2B076E;
        backdrop-filter: blur(250px);
        border-radius: 16px;
        img{
          margin: 48px 0 48px 0;
        }
      }
      // Нужно добавлять margin между блоками
      &__item{
        width: 370px;
        height: 433px;
        margin: 0 10px;
        backdrop-filter: blur(250px);
        border-radius: 16px;
        background: var(--white);
        img{
          margin: 48px 0 48px 0;
        }
        span{
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          color: #BDBDBD;
        }
      }
      &__item-title-active {
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        color: var(--white);
      }
      &__description-active {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 16px;
      }
      &__btn-active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #3671E9;
        border-radius: 32px;
        width: 205px;
        height: 64px;
        margin: 25px auto 0;
        text-decoration: none;
      }
      &__btn-text-active {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
      }
      &__btn-icon-active{
        background-color: #FFFFFF;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 24px;
        background-image: url(../img/arrow-mini.svg);
        background-repeat: no-repeat;
        background-position: center center;
      }
      
      &__item-title {
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        color: var(--dark);
      }
      &__description {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #828282;
        margin: 16px 24px 0;
      }
      &__btn-active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        width: 205px;
        height: 64px;
        margin: 25px auto 0;
        text-decoration: none;

      }
      &__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 63px;
        height: 63px;
        margin: 24px auto 0;
        text-decoration: none;
        background-color: #FFFFFF;
        border: 2px solid rgba(43, 7, 110, 0.2);
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
      }
    }
  }
  .calc-foter{
    background-color: var(--white);
    max-width: 942px;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;
    padding-top: 48px;
    box-shadow: 0px 8px 40px rgba(57, 23, 119, 1) ;
    &__text{
      padding-left: 48px;
      padding-bottom: 48px;
    }
    &__title{
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #3671E9;
    }
    &__total{
      margin-top: 16px;
      font-weight: bold;
      font-size: 32px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #0D0D2B;
      span{
        color: var(--blue);
      }
    }
    &__description{
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #828282;
    }
  }
}
.page-gradient{
  display: flex;
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  padding: 0 10px;
  .form{
    display: flex;
    justify-content: space-between;
    background: #3671E9;
    border-radius: 16px;
    margin-top: 86px;
    margin-bottom: 86px;
    height: 216px;
    color: #FFFFFF;
    &__text{
      max-width: 444px;
      height: 216px;
      padding: 48px;
    }
    &__text-title{
      font-weight: bold;
      font-size: 32px;
      line-height: 150%;
      margin: 0;
    }
    &__text-description{
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
      padding-top: 16px;
    }
    &__letter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &__letter-input{
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      background-color: transparent;
      color: var(--white);
      height: 35px;
      width: 100%;
      margin-right: 40px;
    }
    &__letter-input::placeholder{
      color: var(--white);
    }
    &__letter-btn{
      background-color: var(--white);
      border-radius: 32px;
      padding: 17px 32px 17px 32px;
      font-weight: 500;
      transition: 0.2s ease background-color;
      border: none;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #0D0D2B;
      margin-right: 48px;
      transition: 0.2s ease background-color;
    }
    &__letter-btn:hover{
      color: var(--white);
      background-color: var(--purple);
    }
  }
}
.footer{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  background: #0D0D2B;
  align-items: center;
  margin: 0 auto;
  height: 180px;
  padding: 0 10px;
  &__list{
    display: flex;
    list-style-type: none;
  }
  &__list-item{
    margin-left: 32px;
  }
  &__list-item:first-child{
    margin-left: 0;
  }
}
