@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'lato' , sans-serif;
}
.wrapper{
    max-width: 1369px;
    padding: 0 5px ;
    margin: 0 auto;
}
